*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    /* background-image: url('img/tlo2.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav{
    height: 65px;
    width: 100%;
    display: flex;
    background-color: #111;
}

#logo{
    font-family: "Rubik Wet Paint", system-ui;
    color: #c00021;
    font-size: 36px;
    display: flex;
    align-items: center;
}

#logo a{
    text-decoration: none;
    color: #c00021;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
}

#navTile{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

#content{
    width: 100%;
    display: flex;
}

#contactInput{
    margin-top: 25px;
    width: 50%;
    height: 250px;
}

#contactInfo{
    margin-top: 25px;
    width: 50%;
    height: 250px;
}

#nameText{
    display: block;
    background-color: #666666;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 150px;
    padding-left: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Prompt", sans-serif;
}

#emailText{
    display: block;
    background-color: #666666;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 150px;
    margin-top: 10px;
    padding-left: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Prompt", sans-serif;
}

#nameText:focus{
    outline: 2px solid #c00021;
    text-align: left;
}

input[type=email]:focus{
    outline: 2px solid #c00021;
}

textarea {
    resize: none;
    display: block;
    background-color: #666666;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 100px;
    width: 350px;
    margin-top: 10px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }

  textarea:focus {
    outline: 2px solid #c00021;
  }

  textarea::placeholder {
    line-height: 100px;
    font-family: "Prompt", sans-serif;
  }

#contactSubmit{
    font-family: "Prompt", sans-serif;
    display: block;
    background-color: #c00021;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 200px;
    margin-top: 10px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
}

#contactInfoHeader{
    margin-top: 50px;
    font-family: "Doto", sans-serif;
    margin-right: 100px;
    margin-left: 50px;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    text-align: center;
}

#contactInfoText{
    margin-right: 100px;
    margin-left: 50px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#contactInfoTile{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    text-align: center;
    
}

#bestMovieText0{
    margin-left: 50px;
    width: 210px;
}

#bestMovieText1{
    color: #ffffff;
    font-size: 32px;
    display: flex;
}

#bestMovieText2{
    margin-left: 50px;
    margin-top: -10px;
    color: #ffffff;
    font-size: 12px;
    display: flex;
}

#bestMovies{
    width: auto;
    margin-left: 10px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

#bestMovieTile{
    width: 250px;
    height: 140px;
    background-color: #666666;
    color: white;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#titleMovie{
    display: flex;
}

#numberMovie{
    color: #9d0208;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 42px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 10px;
    transform: rotate(-30deg);
    font-weight: 900;
    font-family: "Kanit", sans-serif;
    z-index: 10;
}

#nameMovie{
    color: #ffffff;
    position: absolute;
    top: 25px;
    left: 0px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 900;
    font-family: "Kanit", sans-serif;
}

#pointsMovie{
    color: #f7b32b;
    top: 100px;
    left: 75px;
    position: absolute;
    text-align: center;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
}

#voteMovie{
    top: 115px;
    left: 95px;
    position: absolute;
    text-align: center;
    font-family: "Prompt", sans-serif;

}


#footer{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 18px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 0 10px 0;
}
